body {
    background-color: rgb(41, 40, 40);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images {
    width: 300px;
    height: 300px;
    margin: 30px;
    color: white;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.searchbar {
    width: 60%;
    height: 40px;
    font-size: 15px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgba(247, 236, 236, 0.8);
}

.search-icon {
    height: 24px;
    width: 50px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    padding: 10px;
    position: sticky;
    top: 100%;
    flex-wrap: wrap;
}

.giphy-logo {
    width: 50px;
}

footer span {
    color: white;
    margin-top: 20px
}

.giphy-letters {
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 320px) {
    .images {
        width: 200px;
        height: 200px;
    }
    .searchbar {
        width: 40%;
        height: 40px;
        font-size: 10px;
    }
}